
/** Bold top level items **/
/*
div.project.selected > div.children > div > div.name div.content {
    font-weight: 600 !important;
    padding-bottom: 2px !important;
}
*/


/** Prevent top level tags from being bolded **/
/*
div.project.selected > div.children > div > div.name div.content .contentTag {
    font-weight: normal !important;
}
*/



/** Adjust bullet style **/
._uhlm2 {
    /*
    visibility:hidden !important;
    */
    color: rgb(126, 126, 126) !important;
    opacity: 0.3 !important;
    size: 10 !important;
}


/** Adjust "Show completed" switch color **/
._1yqk6eh {
    background-color: rgb(228, 228, 228) !important;
}


._cia9q1:focus-within, ._cia9q1:hover, ._cia9q1:active {
    border: 1px solid rgb(183, 188, 191) !important;
}


._hax855:active, ._hax855:hover, ._hax855:focus-within {
    border: 1px solid rgb(183, 188, 191) !important;
    border-left-color: #0000001C !important;
    border-left-width: 3px !important;
    border-radius: 4px !important;
}



/** Darker card backgrounds in Board view **/
._cia9q1 {
    border-bottom-width: 1px !important;
    border-bottom-color: #0000000A !important;    
    border-right-width: 1px !important;
    border-right-color: #0000000A !important;
}

/** Style collapsed item highlight color and padding in Board view **/
._hax855 {
    border-left-color: #0000001C !important;
    border-left-width: 3px !important;
    padding-left: 6px !important;
    border-radius: 4px !important;
    border-bottom-width: 0.1em !important;
    border-bottom-color: #0000000A !important;    
    border-right-width: 0.1em !important;
    border-right-color: #0000000A !important;
}


/** Smaller "+ Add new item" in Board view **/
._k10p6h {
    margin: 10px 0px 0px 32px !important;
    padding: 0px 5px 7px 5px !important;
    background-color: #0000 !important;
    opacity: 0.5 !important;
}

/** Reduce plus sign spacing **/
.fa-plus {
    margin-right: 3px !important;
}


/** Adjust column fitting in Board view **/
._1vjgq66 {
    flex: 0 0 calc(100vw / 6) !important;
}

/** Adjust padding between colums**/
._u6tqrf {
    padding-right: 0px !important;
}


/** Reduce left padding in Board view **/
._p95zjf {
    padding-left: 0em !important;    
}


/** Remove column divider line **/
.boardColumn {
    border-right: none !important;    
}


/** Reduce font size of column headings **/
._16awal0 {
    font-size: 0.9em !important;
    margin-left: 0.12em !important;
}

/** Hide "Add new column" button **/
._1en9fmv {
    display: none !important;
}

/** Hide scroll bars in columns **/
._u6tqrf {
    scrollbar-width: none !important;    
}


/** Convert italicized text to highlighted **/
.content i {
    background-color: #FFFF00 !important;
    text-decoration: none !important;
    font-style: normal !important;
}

/** Remove tag underlines **/
.contentTagText {
    text-decoration: none !important;
}

time {
    font-weight: 600 !important;    
    color: #E91EA8 !important;
    border-bottom: 1px solid #FF9EE0 !important;
}

.bullet:hover::before {
    opacity: 0.1 !important;
    border-radius: 1000em !important;
    width: 18px !important;
    height: 18px !important;
    margin-left: -9px !important;
    margin-top: -9px !important;
    background: #000 !important;
}

/** Estimation/priority @tags with colored backgrounds, bolder, uppercase, slightly smaller text **/
.contentTag[title*="@"] {
    padding: 0px 4px 1px 4px !important;
    font-size: 0.8em !important;
    line-height: 0.7em !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.contentTag[title*="@easy"] {
    background-color: #05C800 !important;
    color: #ffffff !important;
}

.contentTag[title*="@medium"] {
    background-color: #FFC800 !important;
    color: #ffffff !important;
}

.contentTag[title*="@hard"] {
    background-color: #FF7B00 !important;
    color: #ffffff !important;
}

.contentTag[title*="@long"] {
    background-color: #F00 !important;
    color: #ffffff !important;
}

.contentTag[title*="@important"] {
    background-color: #80F !important;
    color: #ffffff !important;
}


/** Colored hashtag text **/
.contentTag[title*="#"] {
    color: #04AAD3 !important;
}
