
/** Bold top level items **/
/*
div.project.selected > div.children > div > div.name div.content {
    font-weight: 600 !important;
    padding-bottom: 2px !important;
}
*/


/** Prevent top level tags from being bolded **/
/*
div.project.selected > div.children > div > div.name div.content .contentTag {
    font-weight: normal !important;
}
*/


/** Adjust bullet style **/
.bullet {
    /*
    visibility:hidden !important;
    */
    color: rgb(126, 126, 126) !important;
    opacity: 0.3 !important;
}


/** Adjust "Show completed" switch color **/
._1yqk6eh {
    background-color: rgb(228, 228, 228) !important;
}


/** Style text content typography **/
.content {
    line-height: 1.45em !important;
}


/** Style collapsed item highlight color and padding in Board view **/
div.project.collapsed {
    border-left-color: rgb(210, 210, 210) !important;
    padding-bottom: 0.2em !important;
}


/** Convert italicized text to highlighted **/
.content i {
    background-color: #FFFF00 !important;
    text-decoration: none !important;
    font-style: normal !important;
}


/** Remove tag underlines **/
.contentTagText {
    text-decoration: none !important;
}



/** Estimation/priority @tags with colored backgrounds, bolder, uppercase, slightly smaller text **/
.contentTag[title*="@"] {
    padding: 0px 4px 1px 4px !important;
    font-size: 0.8em !important;
    line-height: 0.7em !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.contentTag[title*="@easy"] {
    background-color: #05C800 !important;
    color: #ffffff !important;
}

.contentTag[title*="@medium"] {
    background-color: #FFC800 !important;
    color: #ffffff !important;
}

.contentTag[title*="@hard"] {
    background-color: #FF7B00 !important;
    color: #ffffff !important;
}

.contentTag[title*="@long"] {
    background-color: #F00 !important;
    color: #ffffff !important;
}

.contentTag[title*="@important"] {
    background-color: #80F !important;
    color: #ffffff !important;
}


/** Colored hashtag text **/
.contentTag[title*="#"] {
    color: #04AAD3 !important;
}
